.sidebar{
    width: 280px;
    height: 100vh;
    position: fixed;
    background: #050607;
    box-shadow: 0 3px 5px #dddd;
   
}
.sidebar h3{
  text-align: center;
}
.sidebar ul {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.sidebar ul li{
    list-style: none;
    margin-top: 55px;
}
 .sidebar ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    font-family: 'poppins',sans-serif;
    margin-left: 5px;
 }